<mat-card class="form-card">
    <mat-card-header>
        <mat-card-title>
            Create Event
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-tab-group>
            
            <mat-tab label="Private">
                <mat-card class="tab-card">
                    <form #PrivateForm="ngForm" id="PrivateForm">
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input matInput type="text" name="title" ngModel required #title="ngModel">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Day</mat-label>
                        <input matInput [matDatepicker]="datepicker"  name="day" ngModel required #day="ngModel">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>From</mat-label>
                        <input matInput [format]="24" [ngxMatTimepicker]="pickerE1" name="startTime" ngModel required #startTime="ngModel" />
                        <mat-icon matSuffix (click)="pickerE1.open()">watch_later</mat-icon>
                    <ngx-mat-timepicker #pickerE1></ngx-mat-timepicker>

                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>To</mat-label>
                        <input matInput [format]="24" [ngxMatTimepicker]="pickerE2" name="endTime" ngModel required #endTime="ngModel" />
                        <mat-icon matSuffix (click)="pickerE2.open()">watch_later</mat-icon>
                    <ngx-mat-timepicker #pickerE2></ngx-mat-timepicker>
                    </mat-form-field>
                </form>

                    <mat-card-actions>
                        <button class="action-btn" mat-raised-button color="primary" (click)="CreatePrivateMeeting($event, PrivateForm)">Create</button>
                    </mat-card-actions>
                    <mat-card-footer>
                        * Parivate events are used to block out time on your calendar. They are not visible to other
                        users.
                    </mat-card-footer>

                </mat-card>
            </mat-tab>

            
            <mat-tab label="Group">
                <mat-card class="tab-card">
                    <form #GroupForm="ngForm" id="GroupForm">
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input matInput type="text" name="title" ngModel required #title="ngModel">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Select a group</mat-label>
                        <select matNativeControl [(ngModel)]="chosen_group" name="group">
                          <option value="" selected></option>
                          <option *ngFor="let group of userGroups" [value]="group.name">
                            {{group.name}}
                          </option>
                        </select>
                      </mat-form-field>
                
                    <mat-form-field>
                    <mat-label>Select a duaration</mat-label>
                    <select matNativeControl [(ngModel)]="chosen_durartion" name="duration">
                        <option value="" selected></option>
                        <option *ngFor="let duration of durations" [value]="duration">
                        {{duration}}
                        </option>
                    </select>
                    </mat-form-field>
                    
                    <mat-form-field >
                        <mat-label>Enter a date range for meeting</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" #dateRangeStart>
                            <input matEndDate formControlName="end" #dateRangeEnd  (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start
                            date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field>
                </form>
                    <mat-card-actions>
                        <button class="action-btn" (click)="CreateGroupMeeting($event, GroupForm)" mat-raised-button color="primary">Create</button>
                    </mat-card-actions>

                    <mat-card-footer>
                        Event time is chosen automatically based on the availability of the group members within the
                        defined dates
                    </mat-card-footer>
                </mat-card>
            </mat-tab>

        </mat-tab-group>
    </mat-card-content>
</mat-card>
