.page{
  position: fixed;
}

.heading{
  margin-top: 1%;
  margin-left: 40%;
  margin-right: 0%;
  align-items: center;
}

.heading h2{
  margin: 0%;
  margin-right: -10%;
  margin-left: -10%;
  font-size: 20px;
}

.heading p{
  margin: -12.5%;
  /* text-align: center; */
  margin-left: -30%;
  margin-right: -55%;
  font-size: 14px;
}

.about {
  margin: 5%;
  /* margin-bottom: 50%; */
  /* justify-content: flex-end; Aligns the content to the right */
  /* align-items: flex-start; Aligns the content to the top */
  flex-wrap: wrap;

}


.about h2 {
  /* max-width: 100%; */
  margin-top: -25%;
  margin-right: -50px;
  font-size: 23px;
  text-align: right;
  margin-bottom: 60px;
  color: #333;

}

.about p {
  margin-left: 50%;
  margin-right: 10%;
  font-size: 18px;
  line-height: 1.5;
  text-align: right;
  margin-top: -60px;
}







.example-card {
  /* margin-bottom: 100%; */
  margin: 19%;
  /* position: fixed; */
  text-align: center;
  left: -30%;
  width: 110%;
}
