<div>
  <div class="page">


<div>
  <div class="heading">
  <h1><b>About GroupMeet</b> </h1>
  <h2>We Coordenate University Student Group Meetings </h2>
 </div>


 <div>

  <section class="about"></section>
  <div class="about-image"></div>
  <img src="assets/images/ab3.avif">
  <!-- <a href=""class = "read-more"> Read More</a> -->
</div>


 <div class="about">
  <h2> An Online Solution for Scheduling and Coordinating University Student Group Meetings</h2>

  <p>
   Book availabilities, View upcoming events, Create new events. The app intelligently selects
    the event time that suits all members, ensuring everyone's availability. Enjoy the flexible use
    and user-friendly interface of the app, making it easy for anyone to navigate and utilize.
  </p>

</div>




 <div>
 <mat-card class="example-card">

   <mat-card-content>
     <p> <br>GroupMeet a web application designed to make scheduling and coordinating meetings for university student groups easier and more efficient.
     </p>
     </mat-card-content>
 </mat-card>

 </div>

</div>
