
.heading{
  margin-left: 50%;
  margin-right: 10%;
  /* width: 100%; */
  /* max-height: 100vh; */

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* text-align: center; */
  /* padding-left: -800%; */

  /* margin: 40px auto;  */
}


.heading p{
  margin: -12.5%;
  /* text-align: center; */
  margin-left: -30%;
  margin-right: -55%;
  font-size: 14px;
}



.container {
  margin: 0 auto;
  padding: 10px 20px;

}

.about {
  margin: 10px;
  display: flex;
  /* justify-content: flex-end; Aligns the content to the right */
  /* align-items: flex-start; Aligns the content to the top */
  flex-wrap: wrap;

}

.about-image {
  height: 40%;
  display: block;

  /* flex: 0 0 auto; */
  margin-right: 40px;
  overflow: hidden;
}

.about-image img {
  height: auto;
  display: block;
}



.about-content {

  margin: 40% auto;
  /* flex: 1; */
  margin-top: -300px;
  margin-right: -700 auto;
  text-align: left;
  /* text-align: center; */
}


.about-content h2 {
  max-width: 100%;
  margin-left: 700px;
  margin-right: -100 auto;
  font-size: 23px;
  text-align: left;
  /* margin-bottom: 60px; */
  /* color: #333; */

}

.about-content p {
  margin-left: 50%;
  margin-right: 10%;
  font-size: 18px;
  line-height: 1.5;
  /* text-align: right; */


  /* margin-top: -60px; */


}

.example-card {
  position: fixed;
  bottom: 10%;
  text-align: center;
  /* left: 50%; */
  width: 100%;
}
