
.sidenav-wrapper{
    height: 93vh;
    /* width: 10vw; */
    /* background-color: #3f51b5; */
}

.list {
    /* height: 100vh; */
    width: 10vw;
    /* background-color: #3f51b5; */
}

.create-button{
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
